.imagens img{
    width: 100%;
    height: 300px;
}

.content{
    padding: 20px;
}

.content button{
    background-color: black;
    border: none;
}

.content h3{
    padding: 40px;
}

.content p{
    text-align: justify;
}

.content img{
    height: 400px;
    width: 100%;
}

.texto{
    padding: 20px;
}

.footersup{
    padding-top: 20px;
}

.footerinf hr{
    margin-bottom: 0px;
    border: 1px black solid;
}

.footerinf img{
    width: auto;
    height: 85px;
    padding: 20px;
}